# Copie este arquivo para .env e ajuste os valores antes de subir o ambiente
# cp .env.example .env

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# OpenSearch
OPENSEARCH_INITIAL_ADMIN_PASSWORD=ChangeMe_OpenSearch_2026!9

# API
API_KEY=api-secret-key
