# Servidor
PORT=8082
NODE_ENV=development
APP_NAME=application-example-api

# OpenTelemetry
OTEL_SDK_DISABLED=false
OTEL_SERVICE_NAME=application-example-api
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
OTEL_EXPORTER_OTLP_PROTOCOL=grpc

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=observability

# Autenticação
API_KEY=api-secret-key
