# OpenTelemetry
OTEL_SDK_DISABLED=false
OTEL_SERVICE_NAME=application-example-web
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318

# OpenSearch (SSR — dashboard queries)
OPENSEARCH_URL=http://localhost:9200

# API Backend
API_URL=http://localhost:8082

# Node.js (opcional)
NODE_OPTIONS=--max-old-space-size=1024
